@import "tailwindcss";

/* npx @tailwindcss/cli -i ./src/input.css -o ./src/output.css --watch */
.display{
    display:none;
}

h1, h2{
    font-family: "Bebas Neue",arial, Helvetica, sans-serif;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}

@theme {
    /*Definindo os keyframes */
    @keyframes loop-scroll {
        from { transform: translateX(0); }
        to { transform: translateX(-100%); }
    }

    /* Criando a classe de animação */
    --animate-loop-scroll: loop-scroll 15s linear infinite;
}